body {
    background-color: rgb(58, 63, 67);
}

H1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 60px;
    color: goldenrod;
    text-align: center;
    border: inset crimson;

}
H2{
    color: goldenrod;
}
span {
    color: whitesmoke;
}
.pizzaName{
    font-style: italic;
    font-size: 24px;
    color: goldenrod;
    text-align: center;
}
.returnToMain{
    text-align: right;
}
a {
    color: darkgoldenrod;
    font-weight: bold;
}

.pizzaItem{
    color: black;
    background-color: whitesmoke;
    font-family: Georgia, "Times New Roman", Times, serif;
    border-color: goldenrod;
    border-width: 1px;
    border-style: solid;
    padding-top: 50px;
    padding-left: 300px;
    padding-bottom: 100px;
    /*margin: 30px;*/
    /*margin-right: 250px;*/
    background-image: url(../images/pizzaP.png);
    background-repeat: no-repeat;
    background-position: top left;
}